// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #DD0426;
  --ion-color-primary-rgb: 221,4,38;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #c20421;
  --ion-color-primary-tint: #e01d3c;

  --ion-color-secondary: #F02D3A;
  --ion-color-secondary-rgb: 240,45,58;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #d32833;
  --ion-color-secondary-tint: #f2424e;

  --ion-color-tertiary: #9197AE;
  --ion-color-tertiary-rgb: 145,151,174;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #808599;
  --ion-color-tertiary-tint: #9ca1b6;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-background: var(--ion-color-primary, red);
  --ion-toolbar-color: var(--ion-color-primary-contrast, white);

  // Background colors

  --ion-background-color: #273043;
  --ion-background-color-rgb: 39,48,67;

  --ion-text-color: #EFF6EE;
  --ion-text-color-rgb: 239,246,238;

  --ion-color-step-50: #313a4c;
  --ion-color-step-100: #3b4454;
  --ion-color-step-150: #454e5d;
  --ion-color-step-200: #4f5865;
  --ion-color-step-250: #59626e;
  --ion-color-step-300: #636b76;
  --ion-color-step-350: #6d757f;
  --ion-color-step-400: #777f87;
  --ion-color-step-450: #818990;
  --ion-color-step-500: #8b9399;
  --ion-color-step-550: #959da1;
  --ion-color-step-600: #9fa7aa;
  --ion-color-step-650: #a9b1b2;
  --ion-color-step-700: #b3bbbb;
  --ion-color-step-750: #bdc5c3;
  --ion-color-step-800: #c7cecc;
  --ion-color-step-850: #d1d8d4;
  --ion-color-step-900: #dbe2dd;
  --ion-color-step-950: #e5ece5;
}
